
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #f0f0f0;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 100px; 
    margin: 0 10px;
}

.logo .logo-group {
    display: flex;
    justify-content: center;
}

.logo .logo-group img {
    height: 100px;
    margin: 0 5px; 
}

header h1 {
    margin-top: 10px;
    font-size: 2em;
    font-weight: 300;
}


main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


.controles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.controles input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.controles button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.controles button:hover {
    background-color: #0056b3;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table thead {
    background-color: #007bff;
    color: #fff;
}

table th,
table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

table th {
    background-color: #0056b3;
    color: #fff;
}

table td img {
    max-width: 150px; 
    height: 150px; 
}


#paginacion {
    margin-bottom: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#paginacion button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#paginacion button:hover {
    background-color: #0056b3;
}


#regresar {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

#regresar:hover {
    background-color: #0056b3;
}


@media (max-width: 768px) {
    header h1 {
        font-size: 1.5em;
    }

    .controles {
        flex-direction: column;
        gap: 5px;
    }

    .controles input[type="text"],
    .controles button {
        width: 100%;
    }

    table th, table td {
        font-size: 0.9em;
        padding: 8px;
    }
}
